.myTab button:hover {
    background-color: rgb(179, 179, 179);
    color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: rgb(221, 221, 221);
    color: rgb(26, 26, 18);
}

.nav-tabs .nav-link {
    background-color: rgb(46, 46, 46);
    color: white;
    font-weight: 700;
}